<div class="footer">
  <div class="footer-article">
    Article page
  </div>
  <div class="footer-info">
    ©2021 by Desmond Ip
  </div>
  <div class="footer-links">
    <%= image_tag "icons/GitHub-Mark/PNG/GitHub-Mark-32px.png", alt: "alttext" %>
  </div>
</div>
