<div class="search-results-container" style="position: absolute;">

  <h1>hello world</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div id="movies">
          <% if params[:query].present? %>
            <% @article_search.each do |article| %>
              <% person = @all_users.where(name: article.content)[0] %>
              <% if person.present? %>
                <p>Author: <%= person.name %></p>
                <p>Titles:</p>
                <% @articles.where(user_id: person.id).each do |articlee| %>
                  <p><%= articlee.title %></p>
                <% end %>
              <% else %>
                <% if article.present? %>
                  <h4><%= article.content %></h4>
                  <p><%= @all_users.find(Article.find(article.searchable_id).user_id).name %></p>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
