<div class="search-results-container" style="position: absolute;">

  <h1>hello world</h1>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div id="movies">
          <% if params[:query].present? %>
            <% @article_search.each do |article| %>
              <h4><%= article.content %></h4>
              <p><%= @all_users.find(Article.find(article.id).user_id).name %></p>
              <% raise %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
