.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.home-icon {
}

.search-icon {
  height: 20px;
  width: 20px !important;
}

.nav-icon{
  height: 20px;
  width: 20px !important;
}

.nav-icon:hover{
  transform: translate(0, -3px);
}
